<!doctype html>
<html>
    <body>
        <form type='post' action='/admin/bot/run'>
            <label for="server">Server</label>
            <input type="text" id="server"/><br>
            <label for="nick">Nick</label>
            <input type="text" id="nick"/><br>
            <label for="password">Password</label>
            <input type="text" id="password"/><br>
            <label for="user">User</label>
            <input type="text" id="user"/><br>
            <label for="info">Info</label>
            <input type="text" id="info"/><br>
            <label for="port">Port</label>
            <input type="text" id="port"/><br>
            <label for="channels">Channels</label>
            <input type="text" id="channels"/><br>
            <input type="submit" value="run"/>
        </form>
    </body>
</html>
